span{
    cursor: pointer;
    color: #b0b3b8;

}

.active_style{
    border: 1px solid #18191a;
    border-radius: 15px;
    padding: 40px 40px; 
    background-color: #3a3b3d;
    transition: all 0.2s;
    color: #b0b3b8;
}

