.container-form{
    width: 400px !important;
    padding-top: 100px !important;
    margin: 0 auto !important;
    position: relative;
}
.input_form {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.2rem 0;
    width: 450px;
}
label{
    color: #757575;
    padding-left: 10px;
    transform: translate(45px, 100px) scale(1.02);
    margin-bottom: 2px;
    cursor: text;
    transform-origin: left top;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

input {
    font-size: 1.6rem;
    padding: 20px 10px 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #3a3b3d;
    font-family: 'Montserrat', sans-serif;
}


.input_box{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.btn_form{
    width: 90px;
    padding: 3px 3px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: #3a3b3d;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    color: #b0b3b8;
}
.checkbox_form{
    top: 100px;
}

/* .check_remember{
    margin-left: 10px;
    background-color: #3a3b3d;
} */

.checkBox_text {
    font-size: 1rem;
    margin-left: 23px;
} 